body {
    background: #ddf2ff;
}
h1 {
    width: 100%;
    text-align: center;
}
ul {
    list-style-type: circle;
}
ul li {
    font-size: 24px;
    color: darkorange;
}
ul li a {
    color: darkorange;
    text-decoration: none;
}
ul li a:hover {
    color: deepskyblue;
}
ul li:not(:last-child) {
    margin-bottom: 20px;
}