body {
    max-width: 400px;
    background: #731856;
    margin: 0 auto;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif serif;
    margin-top: 100px;
    height: 100vh;
}

#consoleLog {
    cursor: pointer;
}
#consoleLog:hover {
    color: yellow;
}
#alert {
    cursor: pointer;
}
#alert:hover {
    color: red;
}
#prompt {
    cursor: pointer;
}
#prompt:hover {
    color: blue;
}
code {
    color: cyan;
}
#consoleLog, #prompt, #alert {
    transition: all .5s ease-in;
}